* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: whitesmoke;
}

.gsnav {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
}

.gshead {
    width: 78vw;
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gshead h1 {
    color: orangered;
    text-decoration: underline;
    text-transform: uppercase;
}
.gshead h1:hover {
    color: rgb(10, 99, 10);
}

.gsmain {
    width: 78vw;
    height: 100vh;
    text-align: center;
}
.gsmain h2 {
    padding-bottom: 1vh;
    color: yellowgreen;
}
.gsmain h2:hover {
    color: orangered;
}

button {
    width: 20vw;
    height: 25vh;
    background-color: black;
    border: 1px dashed orangered;
}
button:hover {
    background-color: whitesmoke;
}

a:link {
    color: orangered;
}
a:visited {
    color: orangered;
}
a:hover {
    color: orangered;
}
a:active {
    color: orangered;
}

#ubn {
    background-color: rgb(217, 255, 0);
    width: 80vw;
    height: 98vh;
}
#spt {
    background-color: rgb(5, 255, 59);
    width: 80vw;
    height: 98vh;
}
#cr {
    background-color: rgb(5, 176, 255);
    width: 80vw;
    height: 98vh;
}
#rp {
    background-color: rgb(255, 5, 5);
    width: 80vw;
    height: 98vh;
}