* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: black;
    color: whitesmoke;
}

.gsnav {
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 20vw;
}

.gshead {
    width: 80vw;
    height:12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gshead h1 {
    color: orangered;
    text-decoration: underline;
    text-transform: uppercase;
}
.gshead h1:hover {
    color: rgb(10, 99, 10);
}

.gsmain {
    width: 80vw;
    height: 100vh;
    text-align: center;
}

button {
    width: 20vw;
    height: 25vh;
    background-color: black;
    border: 1px dashed orangered;
}
button:hover {
    background-color: whitesmoke;
}
button a {
    text-decoration: none;

}

a:link {
    color: orangered;
}
a:visited {
    color: orangered;
}
a:hover {
    color: orangered;
}
a:active {
    color: orangered;
}

#md {
    background-color: rgb(238, 255, 1);
    width: 80vw;
    height: 100vh;
}
#ubn {
    background-color: rgb(255, 196, 0);
    width: 80vw;
    height: 100vh;
}
#spt {
    background-color: rgb(255, 22, 5);
    width: 80vw;
    height: 100vh;
}
#rp {
    background-color: rgb(255, 5, 130);
    width: 80vw;
    height: 100vh;
}